anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
bleach
blinker==1.6.2
certifi==2023.5.7
cffi
charset-normalizer==3.1.0
click==8.1.3
colorama
comm
contourpy
cycler==0.11.0
debugpy
decorator
DeepImageSearch==2.5
defusedxml
docopt==0.6.2
entrypoints
executing
faiss-cpu==1.7.4
fastjsonschema
filelock==3.12.0
Flask
Flask-Cors
fonttools
fsspec
gunicorn
huggingface-hub
idna
ipykernel
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
jsonschema
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
opencv-python
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pipreqs
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
requests
rfc3339-validator
rfc3986-validator
safetensors
Send2Trash
six
sniffio
soupsieve
SpeechRecognition
stack-data
sympy
terminado
timm
tinycss2
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
webencodings
websocket-client
Werkzeug
yarg
